@import "colors.css";

.derivada-vbox-root {
    -fx-background-color: -derivada-surface;
}

.integral-vbox-root {
    -fx-background-color: -integral-surface;
}

.label {
    -fx-font-family: 'Roboto';
}

.label-titulo-integral {
    -fx-text-fill: -integral-on-surface;
    -fx-font-size: 18;
}

.label-titulo-derivada {
    -fx-text-fill: -derivada-on-surface;
    -fx-font-size: 18;
}

.label-funcao-derivada {
    -fx-text-fill: -derivada-on-surface;
}

.label-funcao-integral {
    -fx-text-fill: -integral-on-surface;
}

.derivada-textfield {
    -fx-border-color: -derivada-outline;
}

.derivada-textfield:focused {
    -fx-border-color: -derivada-primary;
}

.text-field {
    -fx-background-radius: 9;
    -fx-border-radius: 9;
    -fx-border-width: 2;
}

.integral-textfield {
    -fx-border-color: -integral-outline;
}

.integral-textfield:focused {
    -fx-border-color: -integral-primary;
}

.derivada-button {
    -fx-background-color: -derivada-primary;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 1;
}

.derivada-button:hover {
    -fx-background-color: #a4baea;
}

.derivada-button:pressed {
    -fx-background-color: #94a8d3;
}

.integral-button {
    -fx-background-color: -integral-primary;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 1;
}

.integral-button:hover {
    -fx-background-color: #e3a79c;
}

.integral-button:pressed {
    -fx-background-color: #cc958c;
}

.derivada-resposta-vbox {
    -fx-background-color: -derivada-secondary-container;
    -fx-border-color: -derivada-outline;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}

.label-resposta-derivada {
    -fx-text-fill: -derivada-on-secondary-container;
    -fx-font-size: 20;
}

.label-resposta-integral {
    -fx-text-fill: -integral-on-secondary-container;
    -fx-font-size: 20;
}

.integral-resposta-vbox {
    -fx-background-color: -integral-secondary-container;
    -fx-border-color: -integral-outline;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}

.label-erro {
    -fx-text-fill: -erro;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #404043;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #96969f;
}
