@import "colors.css";

.derivada-vbox-root {
    -fx-background-color: -derivada-surface;
}

.integral-vbox-root {
    -fx-background-color: -integral-surface;
}

.label {
    -fx-font-family: 'Roboto';
    -fx-text-fill: white;
}

.label-titulo-integral {
    -fx-font-size: 20;
}

.label-titulo-derivada {
    -fx-font-size: 20;
}

.derivada-hbox-calcular {
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -derivada-default-gradient;
}

.integral-hbox-calcular {
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -integral-default-gradient;
}

.integral-hbox-limites {
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -integral-default-gradient;
}

.derivada-textfield {
    -fx-background-color: transparent;
    -fx-border-color: -derivada-text-field-blue;
}

.derivada-textfield:focused {
    -fx-border-color: -derivada-default-blue;
}

.text-field {
    -fx-text-fill: white;
    -fx-border-radius: 4;
    -fx-border-width: 1;
}

.integral-textfield {
    -fx-background-color: transparent;
    -fx-border-color: -integral-text-field-red;
}

.integral-textfield:focused {
    -fx-border-color: -integral-default-red;
}

.derivada-button {
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-border-color: -derivada-button-gradient;
    -fx-border-width: 1;
}

.button > .text {
    -fx-fill: white;
}

.button:hover {
    -fx-cursor: hand;
}

.derivada-button:hover {
    -fx-background-color: -derivada-button-gradient;
}

.derivada-button:pressed {
    -fx-background-color: linear-gradient(to right, rgba(7, 209, 244, 0.8), rgba(0, 142, 167, 0.8));
}

.integral-button {
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-border-color: -integral-button-gradient;
    -fx-border-width: 1;
}

.integral-button:hover {
    -fx-background-color: -integral-button-gradient;
}

.integral-button:pressed {
    -fx-background-color: linear-gradient(to right, rgba(233, 163, 0, 0.8), rgba(167, 117, 0, 0.8));
}

.derivada-resposta-vbox {
    -fx-background-color: transparent;
    -fx-border-color: -derivada-default-gradient;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.label-resposta-derivada {
    -fx-font-size: 20;
}

.label-resposta-integral {
    -fx-font-size: 20;
}

.integral-resposta-vbox {
    -fx-background-color: transparent;
    -fx-border-color: -integral-default-gradient;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.label-erro {
    -fx-text-fill: red;
}

.integral-rbutton > .text {
    -fx-fill: white;
}

.integral-rbutton > .radio {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10;
}

.integral-rbutton > .radio:hover {
    -fx-cursor: hand;
}

.integral-rbutton:selected > .radio > .dot {
    -fx-background-color: -integral-default-red;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #161214;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: white;
}
